---
---

@import "{{ site.theme }}";

.inner {
    position: relative;
    max-width: 800px;
    padding: 20px 10px;
    margin: 0 auto;
}

.outer-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
}

ul.topnav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    max-width: 800px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topnav li a:hover {
    background-color: #111;
}

.card {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 160px;
    margin-bottom: 20px;
}

.card-cover {
    width: 30%;
    height: 100%;
    max-height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.card-info {
    width: 70%;
    padding: 20px;
    text-align: left;
}

.card-info a {
    text-decoration: none;
    color: #000;
}